VITE_SUPABASE_URL=https://jmombtrtoevhsqcmfgdl.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XhUSgCMQ1juhrjIKpcnjjg_r4ucu23N
VITE_MODEL_APP_URL=http://localhost:5174
VITE_AUTH_API_URL=http://localhost:5000